APScheduler==3.3.1
click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==0.23
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
tzlocal==1.4
Werkzeug==0.12.2
jsonschema==2.6.0
numpy==1.12.1
pandas==0.20.1
pep8==1.7.0
psycopg2==2.7.1
pycurl==7.43.0
requests==2.14.2
SQLAlchemy==1.1.9
